.HI-1 {
    font-size: 3.5rem;
}

.img-perfil {
    width: 20rem;
    height: 30rem;
    margin: 2rem auto 2rem auto;
}

.img-perfil-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.informacion h1 {
    font-size: 3.0rem;
}

.informacion p {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: rgb(29, 29, 31);
}

.estado {
    margin: 2rem 0rem;
    
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    gap: 1rem;
}

.redes {
    display: flex;
    gap: 1rem;
    margin: 2rem 0rem;
}

.d1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bt1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    font-size: 2rem;
    background-color: rgba(128, 128, 128, 0.381);
    color: black;
    border-radius: 4rem;
    text-decoration: none;
    font-weight: 600;
}

.img-aboutMe {
    width: 28rem;
    height: 25rem;
    margin: 2rem auto 2rem auto;
}

.img-2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Sbt {
    font-size: 2.3rem;
}

.bits{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cuadrito {
    font-size: 1.4rem;
}

.cuadrito li {
    margin-top: 1.2rem;
}

.d2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bt2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    font-size: 2rem;
    background-color: rgba(128, 128, 128, 0.381);
    color: black;
    border-radius: 4rem;
    text-decoration: none;
    font-weight: 600;
}

.divh3 {
    display: flex;
    justify-content: center;
}

.skils-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.5rem;
}

.skils-list img{
    display: block;
    margin: auto;
}
.skils-list p{
    font-size: 1.6rem;
    text-align: center;
}

.descripcion {
    font-size: 1.5rem;
}

@media screen and (min-width: 1200px) {
    .cinf-1 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: 70% 1fr;
    }
    .informacion-1 {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 5rem;
    }
    .perfil {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .cinf-2 {
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: 1fr 60%;
    }
    .informacion-2 {
    padding: 5rem;
    }
    .perfil-2 {
        padding: 5rem;
    }
    .skils-list {
        grid-template-columns: repeat(8,1fr);
    }
}