html {
    font-size: 15px;
    font-family: 'EB Garamond', serif;
}

:root {
    --color1: ;
    --color11: ;
    --color111: ;
}

.pantalla {
    max-width: 375px;
    margin: auto;
}

